extends layout

block content
	h1 Editar Farmacia
	a(href="/") Regresar
	br
	br
	form(name='editarFarmacia', method='POST', action='/editarFarmacia')
		div
			input#inputnombrefarmacia(type='text', placeholder='Nombre de Farmacia', name='nombrefarmacia' value='#{nombrefarmacia}')
		div
			input#inputdireccion(type='text',placeholder='Direccion de Farmacia', name='direccionfarmacia' value='#{direccionfarmacia}')
		div
			input#inputpropietario(type='text',placeholder='Propietario de Farmacia', name='propietario' value='#{propietario}')
		div
			input#inputfarmaceuticoencargado(type='text',placeholder='Farmaceutico Encargado', name='farmaceuticoencargado' value='#{farmaceuticoencargado}')
		div
			input(type='hidden', name='idfarmacia' value='#{idfarmacia}')
			button#btnSubmit(type='submit') Editar 
			